@{
    ViewBag.Title = "请假管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        我的请假
    </div>
    <div class="panel-body panel-block">
        <table class="searcharea">
            <tr>
                <td class="querylabel" style="width: 10%"><span>请假单编号</span></td>
                <td style="width: 15%">
                    <input type="text" class="form-control" data-bind="value:AskForLeaveCode" /></td>
                <td class="querylabel" style="width: 10%"><span>原因</span></td>
                <td style="width: 15%">
                    <input type="text" class="form-control" data-bind="value:Reason" /></td>
                <td class="querylabel" style="width: 10%"><span>申请日期</span></td>
                <td style="width: 12%">
                    <input id="BeginApplyDate" data-bind="value:BeginApplyDate" style="width: 100%" /></td>
                <td>至</td>
                <td style="width: 12%">
                    <input id="EndApplyDate" data-bind="value:EndApplyDate" style="width: 100%" /></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="Query()"><i class="icon-search"></i>查询</button>
                    <button type="button" class="btn btn-primary" onclick="Add()"><i class="icon-plus"></i>新增</button></td>
            </tr>
        </table>

    </div>
</div>

<div id="grid1" class="grid"></div>
<div class="space"></div>

<script type="text/javascript">
    var queryModel;
    function Init() {
        //自定义列
        var columns = [
        //{
        //    headerTemplate: '删除',
        //    width: '30px',
        //    template: '<div class="iconcolor" onclick="Del(\'#=UserCode#\')"><i class="icon-remove"></i></div>'
        //},
        {
            headerTemplate: '查看',
            width: '30px',
            template: '<div class="iconcolor" onclick="ShowDetail(\'#=AskForLeaveCode#\')"><i class="icon-search"></i></div>'
        },
        //{
        //    headerTemplate: '编辑',
        //    width: '30px',
        //    template: '<div class="iconcolor" onclick="ShowDetail(\'#=UserCode#\',\'edit\')"><i class="icon-edit"></i></div>'
        //},
        { field: 'AskForLeaveCode', title: '请假单编号', width: '50px' },  //请假单编号
        { field: 'Reason', title: '请假原因', width: '50px' }, //请假原因
        {
            field: 'TypeId', title: '请假类型', width: '50px',
            template: function (value) {
                return GetTypeName(value.TypeId)
            }
        }, //请假类型
        {
            field: 'ApplyDate', title: '申请时间', width: '50px', template: function (value) {  //申请时间
                return kendo.toString(kendo.parseDate(value.ApplyDate), "yyyy-MM-dd")
            }
        },
        {
            field: 'BeginDate', title: '请假开始日期', width: '50px', template: function (value) {  //请假开始日期
                return kendo.toString(kendo.parseDate(value.BeginDate), "yyyy-MM-dd")
            }
        },
        {
            field: 'EndDate', title: '请假结束日期', width: '50px', template: function (value) { //请假结束日期
                return kendo.toString(kendo.parseDate(value.EndDate), "yyyy-MM-dd")
            }
        },
        { field: 'Status', title: '状态', width: '50px' },  //状态
        ]

        //绑定上面对应的data-bind
        queryModel = {
            'AskForLeaveCode': ko.observable(''), //请假单编号
            'Reason': ko.observable(''), //请假原因
            'BeginApplyDate': ko.observable('@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")'), //申请开始日期
            'EndApplyDate': ko.observable('@DateTime.Now.ToString("yyyy-MM-dd")') //申请结束日期
        }

        //绑定grid控件
        Grid_BindCheckBox('grid1', '/ExecManage/LeaveManage_Query' + '?UserCode=' + '@ViewBag.UserCode', columns, queryModel);

        //绑定日期控件
        DatePicker_Bind('BeginApplyDate');
        DatePicker_Bind('EndApplyDate');

        //应用绑定
        ko.applyBindings(queryModel);

    }


    //查询
    function Query() {
        Grid_Query('grid1');
    }

    //增加
    function Add() {
        View_ShowWindow_CallBack(400, 600, '新增请假单', '/ExecManage/LeaveManage_Add' + '?userCode=' + '@ViewBag.userCode', function () {
            Query();
        });
    }

    //通过请假类型获取请假名称
    
    function GetTypeName(TypeId) {
        var s;
        $.ajax({
            async:false, //同步
            url: '/Common/GetLeaveNameById' + '?Id=' + TypeId,
            type: 'post',
            success: function (obj) {
                s = obj.Data;
            }
        });
        return s;
    }
  

    //查看详细信息
    function ShowDetail(AskForLeaveCode) {
        var url = '@Url.Action("LeaveManage_Detail")' + "?AskForLeaveCode=" + AskForLeaveCode;
        View_ShowWindow_CallBack(300, 580, "请假信息单", url, function () {
            Query();
        });
    }

    $(document).ready(function () {  //和 $(function(){ })一样
        Init();
    })

</script>

