@{
    ViewBag.Title = "待我审批";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        待我审批
    </div>
    <div class="panel-body panel-block">
        <table class="searcharea">
            <tr>
                <td class="querylabel" style="width: 10%"><span>申请单编号</span></td>
                <td style="width: 15%">
                    <input type="text" class="form-control" data-bind="value:ApplyCode" /></td>
                <td class="querylabel" style="width: 10%"><span>申请人</span></td>
                <td style="width: 15%">
                    <input type="text" class="form-control" data-bind="value:UserCode" /></td>

                <td class="querylabel" style="width: 10%"><span>申请日期</span></td>
                <td style="width: 12%">
                    <input id="BeginApplyDate" data-bind="value:BeginApplyDate" style="width: 100%" /></td>
                <td>至</td>
                <td style="width: 12%">
                    <input id="EndApplyDate" data-bind="value:EndApplyDate" style="width: 100%" /></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="Query()"><i class="icon-search"></i>查询</button>
            </tr>
        </table>

    </div>
</div>

<div id="grid1" class="grid"></div>
<div class="space"></div>
<div class="fullCenter">
    <button type="button" class="btn btn-primary" onclick="Pass()"><i class="icon-ok"></i>通过</button>
    <button type="button" class="btn btn-primary" onclick="Reject()"><i class="icon-remove"></i>拒绝</button>
</div>

<script type="text/javascript">
    var queryModel;
    function Init() {
        //自定义列
        var columns = [
        {
            headerTemplate: '<input type="checkbox" class="selectAll"></input>',
            width: '30px',
            template: '<input type="checkbox" class="select" value="#=uid#"></input>'
        },
        {
            headerTemplate: '查看',
            width: '30px',
            template: '<div class="iconcolor" onclick="ShowDetail(\'#=ApplyCode#\')"><i class="icon-search"></i></div>'
        },
        { field: 'ApplyType', title: '单据类型', width: '50px' },  //单据类型
        { field: 'UserCode', title: '申请人', width: '50px' },  // 申请人
        { field: 'ApplyCode', title: '申请单号', width: '50px' },  //申请单号
        { field: 'ApplyContent', title: '申请单内容', width: '50px' }, //申请单内容
        {
            field: 'ApplyDate', title: '申请时间', width: '50px', template: function (value) {  //申请时间
                return kendo.toString(kendo.parseDate(value.ApplyDate), "yyyy-MM-dd")
            }
        },

        { field: 'Status', title: '状态', width: '50px' },  //目的地
        ]

        //绑定上面对应的data-bind
        queryModel = {
            'ApplyCode': ko.observable(''), //申请单号
            'UserCode': ko.observable(''), //申请人
            'BeginApplyDate': ko.observable('@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")'), //申请开始日期
            'EndApplyDate': ko.observable('@DateTime.Now.ToString("yyyy-MM-dd")') //申请结束日期
        }

        //绑定grid控件
        Grid_BindCheckBox('grid1', '/ExecManage/WaitingApprove_Query', columns, queryModel);

        //绑定日期控件
        DatePicker_Bind('BeginApplyDate');
        DatePicker_Bind('EndApplyDate');

        //应用绑定
        ko.applyBindings(queryModel);

    }


    //查询
    function Query() {
        Grid_Query('grid1');
    }


    //查看详细信息
    function ShowDetail(ApplyCode) {
        //判断是什么类型的表单 请假单
        if (ApplyCode.indexOf("L") == 0) {
            var url = '@Url.Action("LeaveManage_Detail")' + "?AskForLeaveCode=" + ApplyCode;
            View_ShowWindow_CallBack(300, 580, "请假信息单", url, function () {
                Query();
            });
        }

        //出差单
        if (ApplyCode.indexOf("T") == 0) {
            var url = '@Url.Action("TripManage_Detail")' + "?TripCode=" + ApplyCode;
            View_ShowWindow_CallBack(300, 580, "出差信息单", url, function () {
                Query();
            });
        }

        //报销单
        if (ApplyCode.indexOf("R") == 0) {
            var url = '@Url.Action("ReimManage_Detail")' + "?ReimCode=" + ApplyCode;
            View_ShowWindow_CallBack(500, 700, "报销信息单", url, function () {
                Query();
            });
        }
    }

    var isApprove;
    //审批通过
    function Pass() {
        //打包对象
        var selectentities = [];
        var grid = $('#grid1').data('kendoGrid');
        var list = grid.table.find('tr').find('td:first input') //获取每行第一列的input，也就是checkbox
        for (var i = 0; i < list.length; i++) {
            if (list[i].checked) { //如果当前checkbox被选中
                $.each($(grid.dataSource.data()), function (index, obj) {
                    if (list[i].value == obj.uid) {
                        selectentities.push(obj.ApplyCode);

                        //判断如果不是待审批的话就提示已经审批过了
                        if (obj.Status != "待审批") {
                            isApprove = false;
                        }
                        else {
                            isApprove = true;
                        }
                    }
                })
            }
        }
        if (isApprove == false) {
            ShowAlert("已审批的不能再审批");
            return false;
        }

        var selectitems = selectentities.join(','); //selectentities[]数组ajax不能传过去，要转成字符串

        if (selectentities.length == 0) {
            ShowAlert("至少选择一个");
        }

        else {
            ShowConfirm("确定要审批通过吗", function () {
                $.ajax({
                    url: '/ExecManage/WaitingApprove_Pass',
                    type: 'post',
                    data: { "selectitems": selectitems },
                    success: function () {
                        ShowAlert("审批成功", function () {
                            Query();
                        });
                    }
                })
            })
        }
    }

    //拒绝
    function Reject() {
        //打包对象
        var selectentities = [];
        var grid = $('#grid1').data('kendoGrid');
        var list = grid.table.find('tr').find('td:first input') //获取每行第一列的input，也就是checkbox
        for (var i = 0; i < list.length; i++) {
            if (list[i].checked) { //如果当前checkbox被选中
                $.each($(grid.dataSource.data()), function (index, obj) {
                    if (list[i].value == obj.uid) {
                        selectentities.push(obj.ApplyCode);

                        //判断如果不是待审批的话就提示已经审批过了
                        if (obj.Status != "待审批") {
                            isApprove = false;
                        }
                        else {
                            isApprove = true;
                        }

                    }
                })
            }
        }
        if (isApprove == false) {
            ShowAlert("已审批的不能再审批");
            return false;
        }

        var selectitems = selectentities.join(','); //selectentities[]数组ajax不能传过去，要转成字符串

        if (selectentities.length == 0) {
            ShowAlert("至少选择一个");
        }

        else {
            ShowConfirm("确定要拒绝吗", function () {
                $.ajax({
                    url: '/ExecManage/WaitingApprove_Reject',
                    type: 'post',
                    data: { "selectitems": selectitems },
                    success: function () {
                        ShowAlert("拒绝成功", function () {
                            Query();
                        });
                    }
                })
            })
        }
    }

    $(document).ready(function () {  //和 $(function(){ })一样
        Init();
    })

</script>


