@{
    ViewBag.Title = "修改密码";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout2.cshtml";
}

@Styles.Render("~/Content/bootstrap")
@*@Styles.Render("~/Content/ace")*@
@Scripts.Render("~/Scripts/jquery")
@Scripts.Render("~/Scripts/ace")
@Scripts.Render("~/Scripts/jqueryvalidate")
@Scripts.Render("~/Scripts/kendo")
@Scripts.Render("~/Scripts/common")

<link href="~/Content/Validate.css" rel="stylesheet" />

<div class="container" style="margin: 0 25%;">
    <form id="form1">
        <div class="form-group">
            <label>用户名</label>
            <input id="UserCode" name="UserCode" type="text" class="form-control" value="@ViewBag.UserCode" />
        </div>
        <div class="form-group">
            <label>原密码</label>
            <input id="OldPassword" name="OldPassword" type="password" class="form-control" />
        </div>
        <div class="form-group">
            <label>新密码</label>
            <input id="NewPassword" name="NewPassword" type="password" class="form-control" />
        </div>
        <div style="text-align: center;">
            <button type="button" class="btn btn-primary" onclick="Ok()">确定</button>
            <button type="button" class="btn btn-primary" onclick="Back()">返回</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#UserCode').attr("readonly", true);

    //把正则表达式加到jquery validate验证里
    $.validator.addMethod('regexp', function (value, element, param) {
        var reg = new RegExp(param);
        return this.optional(element) || reg.test(value);
    }, "");

    //1.验证数据 
    $('#form1').validate({
        rules: {
            OldPassword: {  //对应的name,不是ID
                required: true,
            },
            NewPassword: {
                required: true,
                minlength: 6,
                maxlength: 16
            }
        }
    })


    //2.验证当前form下所有输入值是否合法
    function IsValidated(group) {
        var isValid = true;
        group.find(':input').each(function (i, item) {
            if (!$(item).valid()) {
                isValid = false;
                return isValid;
            }
        });
        return isValid;
    };


    //保存修改
    function Ok() {
        if (IsValidated($('#form1'))) {
            if ($('#OldPassword').val() == $('#NewPassword').val()) {
                ShowAlert("新密码原密码一样");
            }
            else {
                $.ajax({
                    type: 'post',
                    url: 'ChangePassword_Save',
                    data: $('#form1').serialize(),
                    success: function (obj) {

                        if (obj.ErrorCode == "0") {
                            ShowAlert("修改成功,请重新登录", function () {
                                top.location.href = "/Home/Login"; //window本页面跳转，parent上一层页面跳转，top最外层页面跳转
                            })
                        }
                        else if ((obj.ErrorCode == "1")) {
                            ShowAlert("原密码错误，修改失败");
                        }
                        else {
                            ShowAlert("修改失败");
                        }
                    }
                })
            }
        }
    }

    //返回
    function Back() {
        View_CloseWindow();
    }
</script>
